<?xml version="1.0" ?>

<!DOCTYPE module PUBLIC
  "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
  "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">

<module name="Checker">
  <module name="TreeWalker">
    <module name="NameConventionForJUnit4TestClassesCheck">
      <property name="severity" value="warning"/>
      <property name="expectedClassNameRegex" value=".+Test|Test.+|.+IT|.+TestCase"/>
      <property name="classAnnotationNameRegex" value=""/>
      <property name="methodAnnotationNameRegex" value="Test|org.junit.Test"/>
    </module>
  </module>
</module>
